# ccache
/.cache/

# Language Servers
**/compile_commands.json

# Generated build stuff
/bin/
/bld*
/build*
/dbg*
/debug*
/tst/
/test/
/testing/
/win*
/lin*


# Docs
**/*.html

# Backups, temporary files, etc.
**/*.tmp*
**/*.temp*
**/*~
**/#*#
**/.#*
**/*.backup*
**/.swp
**/TODO.md
**/TODO.org